@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Instructions</h1>
    <div class="lead">
        Please add the following components to this site. Refer to the lab instruction sheet for more information.
        <ol>
            <li class="lead">Create a catch-all page.</li>
            <li class="lead">Create an error page.</li>
            <li class="lead">Create login pages, login link, logoff link, authorized pages (Basic Auth)</li>
            <li class="lead">Create login pages, login link, logoff link, authorized pages (SQL Auth)</li>
            <li class="lead">Create an Account Page</li>
        </ol>
        
        <p>Reminder, after cloning, use the following to complete your MVC project;</p>
        <p class="text-info">Update-Package Microsoft.CodeDom.Providers.DotNetCompilerPlatform -r</p>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>Dashboard Page</h2>
        <p>
            Note: This text is on the homepage, and is accessible to everyone.
        </p>
        <p>
            <i>This site uses Bootstrap 4.</i>
        </p>
    </div>
</div>