
@{
    ViewBag.Title = "Inventory Price History";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead class="thead-light">
        <tr><th>UPC</th><th>Desc</th><th>Price</th></tr>
    </thead>
    <tbody>
        <tr>
            <td>
                123456
            </td>
            <td>
                101 Key Keyboard, Wired
            </td>
            <td>
                $49.99
            </td>
        </tr>
        <tr>
            <td>
                234567
            </td>
            <td>
                101 Key Keyboard, Bluetooth
            </td>
            <td>
                $69.99
            </td>
        </tr>
        <tr>
            <td>
                345678
            </td>
            <td>
                Numeric Keypad
            </td>
            <td>
                $59.99
            </td>
        </tr>
    </tbody>


</table>